.form_rating {
	background-color: #e415d9;
	color: white;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50%;
	border-color: transparent;
	text-align: center;
	margin: 0.25rem;
	cursor: pointer;
}
.select {
	background-color: rgb(54, 5, 5);
	transform: scale(1.2);
}
.form_rating:hover {
	background-color: rgb(54, 5, 5);
	transform: scale(1.2);
}
